name: "publish"

on:
  push:
    tags:
      - 'v*'

jobs:
  publish-tauri:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        platform: [windows-latest]

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - name: install frontend dependencies
        working-directory: ./scoop-ui
        run: bun install

      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: v__VERSION__
          releaseName: "scoop-ui v__VERSION__"
          releaseBody: "See the assets below to download the latest version of scoop-ui."
          releaseDraft: false
          prerelease: false
          projectPath: ./scoop-ui

      - name: Create Portable Zip
        shell: pwsh
        run: |
          $version = (Get-Content ./scoop-ui/src-tauri/tauri.conf.json | ConvertFrom-Json).version
          $binPath = "./scoop-ui/src-tauri/target/release/scoop-ui.exe"
          $zipPath = "./scoop-ui_portable_x64.zip"
          Compress-Archive -Path $binPath -DestinationPath $zipPath
          gh release upload "v$version" $zipPath --clobber
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
